[dottorandi]
module = wordpress
url = https://www.dm.unipi.it/wp-json/wp/v2/people?typology=14

[coordinatore-dottorato]
module = wordpress
url = https://www.dm.unipi.it/wp-json/wp/v2/people?typology=9

[consiglio-dottorato]
module = static
emails = coord_mat@dm.unipi.it, other@gmail.com, secondary@outlook.com

[studenti]
module = json
key = students
url = https://studenti.caps.dm.unipi.it/students
api_key = XXXXXXXXXXXXXXXXXXXXXXXXXXXX

[math-list]
module = mailman3
user = xxxxxxxxxxxx
password = xxxxxxxxxx
url = http://localhost:8001

[dottorandi.lists.dm.unipi.it]
module = list
sources = dottorandi, consiglio-dottorato
server = math-list

[studenti.lists.dm.unipi.it]
module = list
sources = studenti
server = math-list

[collaboratori]
module = json
key = data.person.email
url = https://manage.dm.unipi.it/api/v0/staff?_sort=person&qualification__in=Collaboratore&startDate__lt_or_null=today&endDate__gt_or_null=today
api_key = XXXXXXXXXXXXXXXXXXXXXXXXXXXX

[collaboratori.lists.dm.unipi.it]
module = list
sources = collaboratori
server = dummy-server

[dummy-server]
module = dummy