[dottorandi]
module = wordpress
url = https://www.dm.unipi.it/wp-json/wp/v2/people?typology=14

[coordinatore-dottorato]
module = wordpress
url = https://www.dm.unipi.it/wp-json/wp/v2/people?typology=9

[consiglio-dottorato]
module = static
emails = coord_mat@dm.unipi.it, other@gmail.com, secondary@outlook.com

[math-list]
module = mailman3
user = xxxxxxxxxxxx
password = xxxxxxxxxx
url = http://localhost:8001

[dottorandi.lists.dm.unipi.it]
module = list
sources = dottorandi, consiglio-dottorato
server = math-list

